// out: false

@import "fonts.less";
@import "pallete.less";

.highlight {

    .highlight__title {
        font-family: @lobster;
        font-size: 40px;
        color: @sunOrange;
        text-align: center;
        padding: 30px 0 0 0;
    }

    
}