// out: false

@import "pallete.less";
@import "fonts.less";

// As configurações abaixo são compartilhadas com as páginas index.html e search-page.html

.search {
    background-color: @marineBlue;
    border-radius: 0px 0px 50px 0px / 0px 0px 50px 0px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    
    .advanced__titlesearch {

        background-color: @softWhite;

    }
    .search__box {
        padding: 40px 30px 50px 30px;

        .bt__active {
            background-color: @softWhite;
            border-style: none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 106px;
            height: 38px;

            color: @marineBlue;
            .ralewayBold();
            font-size: 20px;
            

        }

        .bt__off {
            background-color: @sunOrange;
            border-style: none;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 106px;
            height: 38px;

            color: @softWhite;
            .ralewayBold();
            font-size: 20px;
            text-shadow: 0 4px 4px rgb(0 0 0 / 45%);
        }
        
        .collapse {
            
            background-color: @softWhite;
            padding: 20px 20px 20px 20px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            .sale__box, .code__box {

                display: flex;
                flex-direction: column;
                
                width: 100%;
            
                #filterButton {

                    align-self: center;
                
                    width: 84px;
                    background-color: @sunOrange;
                    margin-top: 20px 41px 0 41px;
                    border-radius: 10px;
                    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
                
                }

                i {
                    color: @softWhite;
                    font-size: 24px;
                    padding: 10px 30px 10px 30px;
                }
            }
        }
        .filter__system,
        .search__bycode {
            input,
            select {
                display: block;
                width: 100%;
            }
            
            .sale__title {
                .ralewayBold();
                font-size: 16px;
                padding: 0 0 19px 0;
                color: @nightBlue;
        
            }

            .custom__select {
                
                select {
                .ralewayRegular();
                font-size: 14px;
                color: @nightBlue;
                line-height: 16px;

                background-color: @softWhite;
                padding: 12px 15px 12px 15px;
                border-radius: 5px;
                border-color: @nightBlue;
                -webkit-appearance: none;
                margin-bottom: 20px;

                background-image: url('../images/icons/polygon.svg'), linear-gradient(#d2dbe2, #d2dbe2);
	            background-repeat: no-repeat;
	            background-position: right .7em top 50%, right 0 top 0;
	            background-size: 12px, 34px;
                }
                        
            }
            input {
                background-color: @softWhite;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 12px 15px 12px 15px;
                border-radius: 5px;
                border-color: @nightBlue;
                -webkit-appearance: none;

                .ralewayRegular();
                font-size: 14px;
            }
            
            
        
        }

        // As configurações abaixo aparecem somente na página search-page.html (venda - busca avançada)
        .custom__summary {

            .ralewayRegular();
            font-size: 14px;
            color: @nightBlue;
            line-height: 16px;

            background-color: @softWhite;
            padding: 12px 15px 12px 15px;
            margin-top: 10px;
            margin-bottom: 20px;
            border: 1px solid @nightBlue;
            border-radius: 5px;
            list-style-type: none;

            background-image: url('../images/icons/plus-blue.svg'), linear-gradient(#d2dbe2, #d2dbe2);
            background-repeat: no-repeat;
            background-position: right .7em top 50%, right 0 top 0;
            background-size: 12px, 34px; 
           

        }
        
        .sale__box, .code__box {
            .more {

                summary {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    list-style-type: none;
                    
                    .mSerratSBold();
                    font-size: 14px;
                    padding-bottom: 20px;

                    i {
                        color: @sunOrange;
                        padding: 0 10px 0 0;
                    }
                }

                .options {

                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    
                    padding: 19px 15px 0 15px;
                        

                    .custom__options {

                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 29px;

                        i {
                            color: @sunOrange;
                            padding: 0;
                            padding: 0 6px 10px 0;
                            
                        }
                                        
                        label {
                            .mSerratRegular();
                            font-size: 14px;
                            color: @nightBlue;
                            padding-bottom: 10px;
                        }
                        select {
                            .ralewayRegular();
                            font-size: 14px;
                            color: @nightBlue;
                            line-height: 16px;
                            width: 77px;

                            background-color: @softWhite;
                            padding: 12px 15px 12px 15px;
                            border-radius: 5px;
                            border-color: @nightBlue;
                            -webkit-appearance: none;

                            background-image: url('../images/icons/setinhas.svg'), linear-gradient(#d2dbe2, #d2dbe2);
                            background-repeat: no-repeat;
                            background-position: right .7em top 50%, right 0 top 0;
                            background-size: 12px, 34px;
                        }
                    }
                }
                
            }
        
    
        }
    }

    .advanced__titlesearch {
        background-image: url('../images/bg_praia 2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: @lobster;
        font-size: 32px;
        color: @softWhite;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 37px 63px;
    }
}